name: Makefile CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: install packages
      run: |
        sudo apt update
        sudo apt install -y xfonts-utils
    
    - run: ls -la
    - run: ./configure --help
    - run: ./configure
    - run: make
    - run: ls -la
